################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Market_Share/.vs/Market_Share/FileContentIndex/de6ebee7-6cf4-4404-856e-a5caf2979c54.vsidx
/Market_Share/.vs/Market_Share/FileContentIndex/9796af22-bb0c-4643-8f61-ec9f0518b1b0.vsidx
/Market_Share/.vs/Market_Share/FileContentIndex
/Market_Share/.vs/Market_Share/FileContentIndex/9a4d0178-3b09-4880-8017-30cdf6fb9754.vsidx
