<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Airlines</title>
</head>

<body>
    <h2>Airline Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Airline</th>
                <th scope="col">Flight #</th>
                <th scope="col">Airport From</th>
                <th scope="col">Airport To</th>
                <th scope="col">Day of Week</th>
                <th scope="col">Time (mins)</th>
                <th scope="col">Length (miles)</th>
                <th scope="col">Delay</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.Airline}}</td>
                    <td>{{d.Flight}}</td>
                    <td>{{d.AirportFrom}}</td>
                    <td>{{d.AirportTo}}</td>
                    <td>{{d.DayOfWeek}}</td>
                    <td>{{d.Time}}</td>
                    <td>{{d.Length}}</td>
                    <td>{{d.Delay}}</td>
                    <td><a href='edit/{{d.id}}'>Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>