.fs-site-branding {
    display: flex;
    align-items: center;
}

#extended-logo {
    margin-top: 0px;
    margin-bottom: 0px;
}

.usa-logo__text {
    border-left: 1px solid #757575;
    margin-left: 30px;
    padding-left: 10px;
}

@media all and (min-width: 775px) and (max-width: 900px) {
    
    .fs-site-branding img {
        height: 50px
    }
    .usa-logo a {
        font-size: 24px !important;
    }
}

@media all and (min-width: 660px) and (max-width: 775px) {

    .fs-site-branding img {
        height: 40px
    }

    .usa-logo a {
        font-size: 20px !important;
    }
}

@media all and (max-width: 660px) {

    .fs-site-branding img {
        content: url("/src/assets/FSDP/assets/fs-images/US-FS-Mark.jpg");
        height: 40px
    }

    .usa-logo a {
        font-size: 20px !important;
    }
}
