.multiSel {
    transition: max-width 0.3s ease-out;
    position: relative;
    max-width: 100%;
    margin-top: 7px;
}

.selected {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #c7cbcd;
    border-radius: 4px;
    padding: 0.5rem;
    gap: 5px;
}

.selected2 {
    background-color: #e1e1e1;
    border-radius: 4px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1.4;
}
.selected2 button {
    background: none;
    border: none ;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
.selected input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.dropdown {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    padding: 0.5rem;
}

.dropdown-item {
    color: #1b1b1b;
    padding: 0.5rem;
    margin-left: 5px;
    cursor: pointer;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1.4;
}

.dropdown .dropdown-item:hover {
    background-color: #808080;
    color: white;
}

.none {
    display: none
}

@media (max-width: 768px) {
    .selected input[type="text"] {
        max-width: 250px;
    }
}

@media (max-width: 480px) {
    .multiSel {
        max-width: 100px
    }
    
}
