.multiSel {
    transition: max-width 0.3s ease-out;
    position: relative;
    display: flex;
}

.selected {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #c7cbcd;
    border-radius: 4px;
    padding: 5px;
    gap: 5px;
}

.dropdown {
    position: absolute;
    width: 100%;
    border: 1px solid #c7cbcd;
    border-radius: 4px;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .multiSel {
        max-width: 0
    }
    .input {
        max-width: 0
    }
}