/*Darren -- This file has turned into a css file for various components on the Create and View Pages -- Consider a Rename*/
.quill {
    border: 1px solid #5b616b;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    max-width: 480px;
    min-height: 200px;
}
.quill .ql-container {
    border: none
}
.quill .ql-toolbar {
    border: none;
    border-bottom: 1px solid #5b616b;
}
.selector {
    border-radius: 5px;
    border-color: #c7cbcd;
    background-repeat: no-repeat;
    appearance: none;
    background-color: #fff;
    background-position: right 0.75rem center;
    background-size: 0.5rem;
    padding-right: 2rem;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1.4;
    color: #1b1b1b;
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.checkbox_container {
    display: flex;
    align-items: center;
}
.large_checkbox {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.checkbox_label {
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1.4;
    display: block;
    font-weight: 400;
    max-width: 30rem;
}

.fsdp-tabs .usa-button {
    background-color: #fff;
    color: #000;
    display: inline-block;
    padding: 1rem 1.25rem;
    border-color: #a9aeb1;
    border-width: 1px 1px 0;
    border-style: solid;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin: 0;
}

    .fsdp-tabs .usa-button[aria-selected=true] {
        font-weight: 600;
        font-size: 1rem;
    }

    .fsdp-tabs .usa-button:hover {
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #216e1f;
    }

.fsdp-tabs div[role=tabpanel] {
    clear: both;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-top: 1px solid #eee;
    border-top-width: 3px;
    border-left: 1px solid #ccc;
    border-Right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}

@media (max-width: 480px) {
   .quill {
        max-width: 200px
   }
}




